variables:
  TYPE: "app"
  NAME: "helloworld" 
  SERVICE: ${TYPE}-${NAME}
  MODULE: "helm"
  KUBECONFIG: /etc/deploy/config

.docker:
  image: wedneyyuri/awscli-dind
  services:
      - docker:18.09-dind
  before_script:
    - echo -n $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin 
  tags:
    - docker

.template_helm: &helm
  image: 
    name: alpine/helm:3.2.1
    entrypoint: [""]
  before_script:
    - apk add curl  
  tags:
    - docker

.template_terraform: &terraform
  image:
    name: 280917728158.dkr.ecr.us-east-1.amazonaws.com/ci/hashicorp/terraform:0.12.18
    entrypoint: [""]
  script:
    - cd $CI_PROJECT_DIR/parte2/infra/terraform/environments/${ENVIRONMENT}
    - terraform init
  tags:
    - docker

stages:
  - build
  - package
  - deploy
  - rollback
  - plan
  - apply

build:
  extends: .docker
  stage: build
  script:
    - docker build -t $CI_REGISTRY_USER/${SERVICE}:${CI_PIPELINE_ID} -f ${CI_PROJECT_DIR}/parte1/docker/Dockerfile .
    - docker push $CI_REGISTRY_USER/${SERVICE}:${CI_PIPELINE_ID}
  tags:
    - docker

package:
  <<: *helm
  stage: package
  script:
    - helm package ${CI_PROJECT_DIR}/parte1/${MODULE}/${SERVICE} --version $CI_COMMIT_TAG
    - curl --request POST --form 'chart=@${SERVICE}-$CI_COMMIT_TAG.tgz' --user $GITLAB_USER:$ACCESS_TOKEN https://gitlab.com/api/v4/projects/$CI_PROJECT_ID/packages/helm/api/stable/charts

deploy:helm:
    stage: deploy
    image: jakexks/kubectl-helm-aws
    before_script:
        - echo ${kube_config} | base64 -d > ${KUBECONFIG}    
        - aws --version
        - helm version
    script:
        - aws eks update-kubeconfig --name ${EKS_CLUSTER} --region ${EKS_REGION} --role-arn {EKS_ROLE}
        - helm upgrade ${SERVICE} ${CI_PROJECT_DIR}/parte1/${MODULE}/${SERVICE} \
            --repo $CI_REGISTRY_USER/${SERVICE}:${CI_PIPELINE_ID} \
            --version $CI_COMMIT_TAG
    only:
        - master
    dependencies:
        - package

rollback:helm:
    stage: rollback
    image: jakexks/kubectl-helm-aws
    before_script:
        - echo ${kube_config} | base64 -d > ${KUBECONFIG}    
        - aws --version
        - helm version
    script:
        - aws eks update-kubeconfig --name ${EKS_CLUSTER} --region ${EKS_REGION} --role-arn {EKS_ROLE}
        - helm rollback ${SERVICE}
    when: manual

## tf
deploy:terraform:plan:
  <<: *terraform
  stage: plan
  variables:
    ENVIRONMENT: "prod"
    AWS_ACCESS_KEY_ID: $PROD_AWS_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $PROD_AWS_SECRET_ACCESS_KEY
  before_script:
    - export TF_VAR_image=$CI_COMMIT_TAG
    - export TF_VAR_image_tag=$CI_REGISTRY_USER/${SERVICE}
  script: 
    - terraform plan

deploy:terraform:infra:apply:
  <<: *terraform
  stage: apply
  variables:
    ENVIRONMENT: "prod"
    AWS_ACCESS_KEY_ID: $PROD_AWS_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $PROD_AWS_SECRET_ACCESS_KEY
  before_script:
    - export TF_VAR_image=$CI_COMMIT_TAG:${CI_PIPELINE_ID}
    - export TF_VAR_image_tag=$CI_REGISTRY_USER/${SERVICE}
  script:
    - cd $CI_PROJECT_DIR/parte2/infra/terraform/environments/${ENVIRONMENT}
    - terraform init    
    - terraform apply -auto-approve -target=module.network -target=module.cluster
  when: manual
 
deploy:terraform:service:apply:
  <<: *terraform
  stage: apply
  variables:
    ENVIRONMENT: "prod"
    AWS_ACCESS_KEY_ID: $PROD_AWS_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $PROD_AWS_SECRET_ACCESS_KEY
  before_script:
    - export TF_VAR_image=$CI_COMMIT_TAG:${CI_PIPELINE_ID}
    - export TF_VAR_image_tag=$CI_REGISTRY_USER/${SERVICE}
  script:
    - cd $CI_PROJECT_DIR/parte2/infra/terraform/environments/${ENVIRONMENT}
    - terraform init    
    - terraform apply -auto-approve -target=module.app-helloword
